.texto, .footer .footerRedes .footerRedes__texto {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* quita de estilos predeterminados a margenes, paddings y links*/
* {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

/* padding body para que el texto no se meta detras */
body {
  padding-top: 17vh;
}

/*  Navbar header */
.header .headerNavbar {
  height: 17vh;
  background-color: #001b38;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.header .headerNavbar .headerNavbar__logo {
  margin-left: 5vw;
}

.header .headerNavbar .headerNavbar__toggler {
  background-color: #001b38;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones {
  background-color: #001b38;
  text-align: center;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones .nav-item {
  padding: 1vh 1vw;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones .nav-item:hover {
  border-bottom: 3px solid #34FFC8;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton, .header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido {
  color: #121212;
  text-decoration: none;
  background-color: #f5f5f5;
  text-align: center;
  width: 130px;
  padding: 1vh 1vw;
  border-radius: 20px;
  margin: 0 1vw;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton:hover, .header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido:hover {
  background-color: #34FFC8;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido {
  color: #121212;
  background-color: #34FFC8;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido:hover {
  background-color: #f5f5f5;
}

/*footer completo*/
.footer {
  background-color: #34FFC8;
  /*menus de navegacion footer*/
  /*frame google maps*/
}

.footer .footerRedes {
  padding: 5vh;
}

.footer .footerRedes .footerRedes__titulo {
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: #2F2F2F;
  text-align: center;
}

.footer .footerRedes .footerRedes__texto {
  color: #2F2F2F;
  padding: 2vh 0;
  text-align: justify;
}

.footer .footerRedes .footerRedes__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footerRedes .footerRedes__logos .footerRedes__logo {
  height: 2em;
  width: 2em;
}

.footer .footerNavegacion {
  padding: 5vh;
}

.footer .footerNavegacion .footerNavegacion__titulo {
  color: #2F2F2F;
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

.footer .footerNavegacion .nav-link {
  color: #2F2F2F;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
}

.footer .footerNavegacion .nav-link:hover {
  border-bottom: 3px solid #f5f5f5;
}

.footer .footerMapa {
  height: 50vh;
  padding: 5vh;
}

.footer .footerDerechos {
  background-color: #121212;
  margin: 0;
}

.footer .footerDerechos .nav-link {
  color: #f5f5f5;
  text-align: center;
  font-family: "Muni", sans-serif;
  font-size: 0.6em;
  font-weight: 600;
}

.footer .footerDerechos .nav-link--hover:hover {
  border-bottom: 3px solid #34FFC8;
}

/*Fin header y footer*/
/*Boton flotante wwhatsapp*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

/*Contenido Index*/
/*bienvenida*/
.bienvenidaIndex {
  margin: 0;
  height: auto;
  background-image: url("/images/fondoindex.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bienvenidaIndex .bienvenidaIndex__titulo {
  display: none;
}

.bienvenidaIndex .bienvenidaIndex__titulo--2 {
  color: #f5f5f5;
}

.bienvenidaIndex .bienvenidaIndex__texto {
  color: #f5f5f5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bienvenidaIndex .bienvenidaIndex__texto h2 {
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}

/* Resumen Servicios en Index */
.serviciosIndex {
  background-color: #121212;
  padding: 6vh 6vw;
}

.serviciosIndex .serviciosIndex__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.serviciosIndex .serviciosIndex__textoTitulo {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.serviciosIndex .serviciosIndex__tarjetas {
  padding: 4vh;
  text-align: center;
}

.serviciosIndex .serviciosIndex__tarjetas h3 {
  padding: 1vh;
  font-family: "Muni", sans-serif;
  color: #34FFC8;
  font-weight: 600;
}

.serviciosIndex .serviciosIndex__tarjetas p {
  padding: 1vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

.serviciosIndex .serviciosIndex____boton {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #2F2F2F;
  text-align: center;
  width: 130px;
  padding: 1vh 2vw;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  -webkit-box-shadow: 5px 5px 20px #34FFC8;
          box-shadow: 5px 5px 20px #34FFC8;
}

.serviciosIndex .serviciosIndex____boton:hover {
  background-color: #34FFC8;
  -webkit-box-shadow: 5px 5px 20px #f5f5f5;
          box-shadow: 5px 5px 20px #f5f5f5;
  color: #121212;
}

/*Resumen Nosotros en Index*/
.nosotrosIndex {
  margin: 0;
  background-color: #2F2F2F;
  padding: 6vh;
}

.nosotrosIndex .nosotrosIndex__contenido {
  margin: auto 0;
  padding: 4vh;
}

.nosotrosIndex .nosotrosIndex__contenido .nosotrosIndex__contenido__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: left;
  padding: 1vh;
}

.nosotrosIndex .nosotrosIndex__contenido .nosotrosIndex__contenido__texto {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
  text-align: left;
}

.nosotrosIndex .nosotrosIndex_imagenes {
  padding: 3vh;
}

/*Novedades*/
.novedadesIndex {
  background-color: #121212;
  padding: 6vh 6vw;
}

.novedadesIndex .novedadesIndex__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.novedadesIndex .novedadesIndex__textoTitulo {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.novedadesIndex .novedadesIndex__tarjetas {
  padding: 4vh;
  text-align: Left;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.novedadesIndex .novedadesIndex__tarjetas img {
  height: 100%;
  width: auto;
}

.novedadesIndex .novedadesIndex__tarjetas h3 {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
}

.novedadesIndex .novedadesIndex__tarjetas h6 {
  padding-top: 2vh;
  font-family: "Muni", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
}

.novedadesIndex .novedadesIndex__tarjetas p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
}

.novedadesIndex .novedadesIndex____boton {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #2F2F2F;
  text-align: center;
  width: 130px;
  padding: 1vh 2vw;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  -webkit-box-shadow: 5px 5px 20px #34FFC8;
          box-shadow: 5px 5px 20px #34FFC8;
}

.novedadesIndex .novedadesIndex____boton:hover {
  background-color: #34FFC8;
  -webkit-box-shadow: 5px 5px 20px #f5f5f5;
          box-shadow: 5px 5px 20px #f5f5f5;
  color: #121212;
}

/*confianza index*/
.confianzaIndex {
  margin: 0;
  padding: 6vh;
  background-color: #2F2F2F;
}

.confianzaIndex .confianzaIndex__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.confianzaIndex .confianzaIndex__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.confianzaIndex .confianzaIndex__logos img {
  border-radius: 150px;
}

/*Fin contenido index*/
/*Contenido Servicios*/
/*bienvenida*/
.bienvenidaServicios {
  margin: 0;
  height: 83vh;
  background-image: url("/images/fototaller1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bienvenidaServicios .bienvenidaServicios__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 3em;
  padding-top: 5vh;
}

.bienvenidaServicios .bienvenidaServicios__texto {
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
}

.bienvenidaServicios .bienvenidaServicios__boton {
  color: #121212;
  text-decoration: none;
  background-color: #34FFC8;
  width: 130px;
  padding: 1vh 1vw;
  border-radius: 20px;
  margin: auto auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.bienvenidaServicios .bienvenidaServicios__boton:hover {
  background-color: #f5f5f5;
}

/*contenido servicio tecnico*/
.servicioTecnico {
  margin: 0;
  background-color: #121212;
  padding: 6vh;
}

.servicioTecnico .servicioTecnico__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.servicioTecnico .servicioTecnico__tarjetas {
  padding: 4vh;
}

.servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__titulo, .servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__titulo--right {
  padding: 1vh;
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
}

.servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__titulo--right {
  text-align: right;
}

.servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__texto p {
  padding: 1vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

.servicioTecnico .servicioTecnico__tarjetas .servicioTecnico__tarjetas__lista ul {
  padding: 1vh;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
}

/* Tarjetas servicios networking, consultoria it y data recovery*/
.tarjetaServicios--inverse {
  background-color: #121212;
  padding: 2vh;
  margin: 0;
}

.tarjetaServicios--inverse .tarjetaServicios__texto--inverse {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjetaServicios--inverse .tarjetaServicios__texto--inverse h2 {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 2.5em;
  padding: 1vh;
}

.tarjetaServicios--inverse .tarjetaServicios__texto--inverse p {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

.tarjetaServicios--inverse .tarjetaServicios__imagen--inverse {
  padding: 5vh;
}

.tarjetaServicios {
  background-color: #2F2F2F;
  padding: 2vh;
  margin: 0;
}

.tarjetaServicios .tarjetaServicios__texto {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjetaServicios .tarjetaServicios__texto h2 {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 2.5em;
  padding: 1vh;
}

.tarjetaServicios .tarjetaServicios__texto p {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

.tarjetaServicios .tarjetaServicios__imagen {
  padding: 5vh;
}

/*newletter*/
.newsletterServicios {
  background-color: #121212;
  text-align: center;
  margin: 0;
  padding: 2vh;
}

.newsletterServicios .newsletterServicios__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 2em;
  padding: 1vh;
}

.newsletterServicios .newsletterServicios__boton {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #2F2F2F;
  text-align: center;
  width: 130px;
  padding: 1vh 1vw;
  border-radius: 20px;
  display: block;
  margin: auto auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.newsletterServicios .newsletterServicios__boton:hover {
  background-color: #34FFC8;
  color: #121212;
}

/*Fin contenido servicios*/
/*Contenido Nosotros*/
/*bienvenida*/
.bienvenidaNosotros {
  margin: 0;
  height: 83vh;
  background-image: url("/images/fotonosotros.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
}

.bienvenidaNosotros .bienvenidaNosotros__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 2.5em;
  padding-top: 5vh;
}

.bienvenidaNosotros .bienvenidaNosotros__texto {
  padding: 2vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
}

.valoresNosotros {
  margin: 0;
  background-color: #121212;
}

.valoresNosotros .valoresNosotros__titulo {
  font-family: "Muni", sans-serif;
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 2.5em;
  padding-top: 5vh;
}

.valoresNosotros .valoresNosotros__tarjetas {
  padding: 4vh;
  text-align: center;
}

.valoresNosotros .valoresNosotros__tarjetas h3 {
  padding: 2vh 1vw;
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
}

.valoresNosotros .valoresNosotros__tarjetas p {
  padding: 1vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

/* el equipo*/
.equipoNosotros {
  background-color: #2F2F2F;
  padding: 6vh 6vw;
  margin: 0;
}

.equipoNosotros .equipoNosotros__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.equipoNosotros .equipoNosotros__textoTitulo {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.equipoNosotros .equipoNosotros__tarjetas {
  padding: 4vh;
  text-align: center;
}

.equipoNosotros .equipoNosotros__tarjetas h3 {
  padding: 1vh;
  font-family: "Muni", sans-serif;
  color: #34FFC8;
  font-weight: 600;
}

.equipoNosotros .equipoNosotros__tarjetas p {
  padding: 1vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
}

.equipoNosotros .equipoNosotros__tarjetas img {
  border-radius: 150px;
}

/* Fin contenido nosotros*/
/* contenido contacto*/
.formularioContacto {
  background-color: #2F2F2F;
  margin: 0;
  padding: 5vh;
}

.formularioContacto .formularioContacto__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  padding: 1vh;
}

.formularioContacto .formularioContacto__Contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 2vh;
}

.formularioContacto .formularioContacto__Contactos a {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  text-decoration: none;
  padding: 2vh;
}

.formularioContacto .formularioContacto__Formulario {
  padding: 2vh;
}

.formularioContacto .formularioContacto__boton {
  color: #121212;
  text-decoration: none;
  background-color: #34FFC8;
  width: 130px;
  padding: 1vh 1vw;
  border-radius: 20px;
  margin: 2vh auto 2vh auto;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.formularioContacto .formularioContacto__boton:hover {
  background-color: #f5f5f5;
}

/* Fin contenido contacto*/
/*404*/
.bienvenida404 {
  margin: 0;
  height: 63vh;
  background-image: url("/images/fondo404.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bienvenida404 .bienvenida404__titulo {
  font-family: "Muni", sans-serif;
  color: #121212;
  font-weight: 900;
  font-size: 2.5em;
  padding-top: 5vh;
}

.bienvenida404 .bienvenida404__texto {
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: #121212;
  font-weight: 600;
}

.bienvenida404 .bienvenida404__boton {
  color: #121212;
  text-decoration: none;
  background-color: #34FFC8;
  width: 130px;
  padding: 1vh 1vw;
  border-radius: 20px;
  margin: auto auto;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.bienvenida404 .bienvenida404__boton:hover {
  background-color: #f5f5f5;
}

/*404*/
/*Novedades*/
.bienvenidaNovedades {
  margin: 0;
  height: 83vh;
  background-image: url("/images/fondoblog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh;
}

.bienvenidaNovedades .bienvenidaNovedades__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 3em;
  padding-top: 5vh;
}

.bienvenidaNovedades .bienvenidaNovedades__titulo--2 {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 2em;
  padding-top: 5vh;
}

.bienvenidaNovedades .bienvenidaNovedades__texto {
  padding: 2vh;
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
}

.novedadesNovedades {
  background-color: #2F2F2F;
  padding: 6vh 6vw;
}

.novedadesNovedades .novedadesNovedades__titulo {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 1vh;
}

.novedadesNovedades .novedadesNovedades__textoTitulo {
  font-family: "Noto Sans", sans-serif;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
}

.novedadesNovedades .novedadesNovedades__tarjetas {
  padding: 4vh;
  text-align: Left;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.novedadesNovedades .novedadesNovedades__tarjetas img {
  height: 100%;
  width: auto;
}

.novedadesNovedades .novedadesNovedades__tarjetas h3 {
  font-family: "Muni", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
}

.novedadesNovedades .novedadesNovedades__tarjetas h6 {
  padding-top: 2vh;
  font-family: "Muni", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
}

.novedadesNovedades .novedadesNovedades__tarjetas p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
}

/*fin novedades*/
/*# sourceMappingURL=style.css.map */