.texto, .footer .footerRedes .footerRedes__texto {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

/* quita de estilos predeterminados a margenes, paddings y links*/
* {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

/* padding body para que el texto no se meta detras */
body {
  padding-top: 17vh;
}

/*  Navbar header */
.header .headerNavbar {
  height: 17vh;
  background-color: #001b38;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

.header .headerNavbar .headerNavbar__logo {
  margin-left: 5vw;
}

.header .headerNavbar .headerNavbar__toggler {
  background-color: #001b38;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones {
  background-color: #001b38;
  text-align: center;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones .nav-item {
  padding: 1vh 1vw;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__navegacion__secciones .nav-item:hover {
  border-bottom: 3px solid #34FFC8;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton {
  color: #121212;
  text-decoration: none;
  background-color: #f5f5f5;
  text-align: center;
  width: 120px;
  padding: 1vh 1vw;
  border-radius: 20px;
  margin: 0 1vw;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton:hover {
  background-color: #34FFC8;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido {
  color: #121212;
  text-decoration: none;
  background-color: #34FFC8;
  text-align: center;
  width: 120px;
  padding: 1vh 1vw;
  margin-right: 1vw;
  border-radius: 20px;
}

.header .headerNavbar .headerNavbar__navegacion .headerNavbar__boton--invertido:hover {
  background-color: #f5f5f5;
}

/*footer completo*/
.footer {
  background-color: #34FFC8;
  /*menus de navegacion footer*/
  /*frame google maps*/
}

.footer .footerRedes {
  padding: 5vh;
}

.footer .footerRedes .footerRedes__titulo {
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #2F2F2F;
  text-align: center;
}

.footer .footerRedes .footerRedes__texto {
  color: #2F2F2F;
  padding: 2vh 0;
  text-align: justify;
  font-size: 2em;
}

.footer .footerRedes .footerRedes__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footerRedes .footerRedes__logos .footerRedes__logo {
  height: 2em;
  width: 2em;
}

.footer .footerNavegacion {
  padding: 5vh;
}

.footer .footerNavegacion .footerNavegacion__titulo {
  color: #2F2F2F;
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

.footer .footerNavegacion .nav-link {
  color: #2F2F2F;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.footer .footerNavegacion .nav-link:hover {
  border-bottom: 3px solid #f5f5f5;
}

.footer .footerTecnico {
  padding: 5vh;
}

.footer .footerTecnico .footerTecnico__titulo {
  color: #2F2F2F;
  font-family: "Muni", sans-serif;
  font-weight: 600;
  font-weight: 600;
  font-size: 1.2em;
}

.footer .footerTecnico .nav-link {
  color: #2F2F2F;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.footer .footerTecnico .nav-link:hover {
  border-bottom: 3px solid #f5f5f5;
}

.footer .footerMapa {
  height: 70vh;
  padding: 5vh;
}

.footer .footerDerechos {
  background-color: #121212;
  margin: 0;
}

.footer .footerDerechos .nav-link {
  color: #f5f5f5;
  text-align: center;
  font-family: "Muni", sans-serif;
  font-size: 0.6em;
  font-weight: 800;
}

.footer .footerDerechos .nav-link--hover:hover {
  border-bottom: 3px solid #34FFC8;
}

/*Contenido Index*/
/*recepcion*/
/*Fin contenido index*/
/*# sourceMappingURL=style.css.map */