@import "fonts.scss";
@import "colors.scss";

/* quita de estilos predeterminados a margenes, paddings y links*/ 
*{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/*  Navbar header */

.header{
    
    .headerNavbar{

        height: 20vh;
        background-color: $azul;
        font-family: $texto;
        font-weight: 300;
        
        
        .headerNavbar__logo{

            margin-left: 5vw;
            height: 10vh;
            width: 10vw;
        }

        .headerNavbar__secciones{

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            margin-right: 2vw;

            .nav-item{

                padding: 1vh 1vw;

                &:hover{

                    border-bottom: 3px solid $verde;
                }
            }
        }

        .headerNavbar__boton{

            color: $negro;
            text-decoration: none;
            background-color: $blanco;
            text-align: center;
            width: 8vw;
            padding: 10px;
            border-radius: 20px;
            margin: 0 2vh;

            &:hover{
                background-color: $verde;
            }
        }

        .headerNavbar__boton--invertido{

            color: $negro;
            text-decoration: none;
            background-color: $verde;
            text-align: center;
            width: 8vw;
            padding: 10px;
            border-radius: 20px;
            margin: 0 2vh;

            &:hover{
                background-color: $blanco;
            }
        }
    }
}

.footer{

    .footerRedes{

        .footerRedes__logo{

            height: 5vh;
            width: 5vw;
        }
    }

    .footerNavegacion{

    }

    .footerTecnico{

    }

    .footerMapa{

    }

    .footerDerechos{

    }
}