@import "fonts.scss";
@import "colors.scss";

/* quita de estilos predeterminados a margenes, paddings y links*/ 
*{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/* padding body para que el texto no se meta detras */
body{
    
    padding-top: 20vh;
}
/* solucion para modales que no se abren bien dentro de un bloque con position:fixed */
.modal-backdrop {
    display: none;
  }
  
  .modal {
    background: rgba(0,0,0,0.5);
  }

/*  Navbar header */

.header{
    
    .headerNavbar{

        height: 20vh;
        background-color: $azul;
        font-family: $texto;
        font-weight: 300;
        
        
        .headerNavbar__logo{

            margin-left: 5vw;
            height: 10vh;
            width: 10vw;
        }

        .headerNavbar__secciones{

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            margin-right: 2vw;

            .nav-item{

                padding: 1vh 1vw;

                &:hover{

                    border-bottom: 3px solid $verde;
                }
            }
        }

        .headerNavbar__boton{

            color: $negro;
            text-decoration: none;
            background-color: $blanco;
            text-align: center;
            width: 8vw;
            padding: 10px;
            border-radius: 20px;
            margin: 0 2vh;

            &:hover{
                background-color: $verde;
            }
        }

        .headerNavbar__boton--invertido{

            color: $negro;
            text-decoration: none;
            background-color: $verde;
            text-align: center;
            width: 8vw;
            padding: 10px;
            border-radius: 20px;
            margin: 0 2vh;

            &:hover{
                background-color: $blanco;
            }
        }
    }
}

.footer{

    background-color: $verde;
    
    .footerRedes{

        padding: 5vh;

        .footerRedes__titulo{

            font-family: $titulos;
            font-weight: 600;
            font-size: 1.6em;
            color: $grisOscuro;
        }

        .footerRedes__texto{

            @extend .texto;
            color: $grisOscuro;
            padding: 2vh 0;
        }

        .footerRedes__logo{

            height: 5vh;
            width: 5vw;
        }
    }

    .footerNavegacion{

        padding: 5vh;
        
        .footerNavegacion__titulo{

            color: $grisOscuro;  
            font-family: $titulos;
            font-weight: 600;
        }

        .nav-link{

            color: $grisOscuro;
            font-family: $texto;
            font-weight: 600;
        }

    }

    .footerTecnico{

        padding: 5vh;
        
        .footerTecnico__titulo{

            color: $grisOscuro;  
            font-family: $titulos;
            font-weight: 600;
        }

        .nav-link{

            color: $grisOscuro;
            font-family: $texto;
            font-weight: 600;
        }
    }

    .footerMapa{

        height: 70vh;
        padding: 5vh;
    }

    .footerDerechos{

        background-color: $negro;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        
       .nav-link{

            color: $blanco;
            font-family: $titulos;
            font-size: 0.7em;
            font-weight: 800;
            padding: 2vh;
            margin: 3vh;
        }
        
        .nav-link--copy{

            padding-right: 40vw;
        }
        
        .nav-link--hover:hover{

            border-bottom: 3px solid $verde;
       }
    }
}