@import "fonts.scss";
@import "colors.scss";

/* quita de estilos predeterminados a margenes, paddings y links*/ 
*{
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/* padding body para que el texto no se meta detras */
body{
    
    padding-top: 17vh;
}

/*  Navbar header */

.header{
    
    .headerNavbar{

        height: 17vh;
        background-color: $azul;
        font-family: $texto;
        font-weight: 300;
        
        
        .headerNavbar__logo{

            margin-left: 5vw;
        }
        
        .headerNavbar__toggler{

            background-color: $azul;
        }

        .headerNavbar__navegacion{

            .headerNavbar__navegacion__secciones{

                background-color: $azul;
                text-align: center;
    
                .nav-item{
    
                    padding: 1vh 1vw;
    
                    &:hover{
    
                        border-bottom: 3px solid $verde;
                    }
                }
                
                
            }
            .headerNavbar__boton{
        
                color: $negro;
                text-decoration: none;
                background-color: $blanco;
                text-align: center;
                width: 120px;
                padding: 1vh 1vw;
                border-radius: 20px;
                margin: 0 1vw;
                    
                &:hover{
                    background-color: $verde;
                }
            }
    
            .headerNavbar__boton--invertido{
    
                color: $negro;
                text-decoration: none;
                background-color: $verde;
                text-align: center;
                width: 120px;
                padding: 1vh 1vw;
                margin-right: 1vw;
                border-radius: 20px;
    
                &:hover{
                    background-color: $blanco;
                }
            }
        }
    }
}

/*footer completo*/
.footer{

    background-color: $verde;
    
    .footerRedes{

        padding: 5vh;
        
        .footerRedes__titulo{

            font-family: $titulos;
            font-weight: 600;
            font-size: 1.6em;
            color: $grisOscuro;
            text-align: center;
        }

        .footerRedes__texto{

            @extend .texto;
            color: $grisOscuro;
            padding: 2vh 0;
            text-align: justify;
            font-size: 1rem;
        }

        .footerRedes__logos{

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            
            .footerRedes__logo{

                height: 2em;
                width: 2em;
            }
        }

    }

    /*menus de navegacion footer*/
    .footerNavegacion{

        padding: 5vh;
        
        .footerNavegacion__titulo{

            color: $grisOscuro;  
            font-family: $titulos;
            font-weight: 600;
            font-size: 1.5em;
        }

        .nav-link{

            color: $grisOscuro;
            font-family: $texto;
            font-weight: 600;
            font-size: 1em;
            
            &:hover{

                border-bottom: 3px solid $blanco;
            }
        }

    }

    .footerTecnico{

        padding: 5vh;
        
        .footerTecnico__titulo{

            color: $grisOscuro;  
            font-family: $titulos;
            font-weight: 600;
            font-weight: 600;
            font-size: 1.5em;
        }

        .nav-link{

            color: $grisOscuro;
            font-family: $texto;
            font-weight: 600;
            font-size: 1em;

            &:hover{

                border-bottom: 3px solid $blanco;
            }
        }
    }

    /*frame google maps*/
    .footerMapa{

        height: 70vh;
        padding: 5vh;
    }

    .footerDerechos{

        background-color: $negro;
        margin: 0;

       .nav-link{

            color: $blanco;
            text-align: center;
            font-family: $titulos;
            font-size: 0.6em;
            font-weight: 800;
        }
        
        .nav-link--hover:hover{

            border-bottom: 3px solid $verde;
       }
    }
}

/*Contenido Index*/

/*recepcion*/


/*Fin contenido index*/